body {
  background-color: #f5f5f5;
  font-family: Inter, sans-serif;
  color: #333;
  font-size: 18px;
  line-height: 145%;
  letter-spacing: -0.01em;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 60px;
  line-height: 120%;
  font-weight: 700;
  letter-spacing: -0.02em;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 40px;
  line-height: 130%;
  font-weight: 500;
  letter-spacing: -0.02em;
}

h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  letter-spacing: -0.02em;
}

p {
  line-height: 150%;
  letter-spacing: -0.02em;
}

a {
  border-bottom: 1px solid rgba(25, 66, 102, 0.52);
  -webkit-transition: border-color 300ms ease, color 200ms ease;
  transition: border-color 300ms ease, color 200ms ease;
  color: #194266;
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  border-bottom-color: #000;
  color: #000;
}

a:visited {
  color: #194266;
}

a.w--current {
  color: #1f527f;
}

ul {
  margin-top: -15px;
  margin-bottom: 30px;
  padding-left: 40px;
}

li {
  margin-bottom: 10px;
}

strong {
  font-weight: bold;
}

blockquote {
  margin-bottom: 30px;
  margin-left: 30px;
  padding: 10px 20px;
  border-left: 5px solid #e2e2e2;
  color: #111;
  font-size: 22px;
  line-height: 140%;
}

figcaption {
  margin-top: 5px;
  margin-bottom: 15px;
  text-align: center;
}

.section {
  padding: 50px 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section.in-header {
  padding-top: 150px;
}

.section.footer {
  margin-top: 100px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.section.profile-cards {
  margin-top: 100px;
}

.section.ho-to-plan {
  padding-top: 100px;
}

.section.profile {
  padding-top: 150px;
}

.section.about {
  padding-top: 100px;
}

.section.learn {
  padding-top: 100px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.hero-list {
  margin-bottom: 20px;
}

.btn-primary {
  position: static;
  display: block;
  max-width: none;
  margin-right: auto;
  margin-left: auto;
  float: left;
  clear: left;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 6px;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #fff;
  cursor: pointer;
  -o-object-fit: fill;
  object-fit: fill;
}

.btn-primary:hover {
  box-shadow: 1px 1px 1px 0 #5f5f5f;
  color: #fff;
}

.div-block-3 {
  display: block;
  margin-top: 20px;
  padding-top: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.rich-text-block {
  font-size: 16px;
  line-height: 1.6em;
}

.rich-text-block.interview-body {
  display: inline-block;
  margin-top: 20px;
}

.rich-text-block.interview-body li {
  padding-top: 2px;
  padding-bottom: 2px;
}

.footer-container {
  display: block;
  -webkit-align-content: start;
  -ms-flex-line-pack: start;
  align-content: start;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.cards-grid-container {
  display: -ms-grid;
  display: grid;
  margin-top: 50px;
  grid-auto-columns: 1fr;
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  text-align: left;
}

.cards-image-mask {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 100%;
  border-bottom-style: none;
  border-bottom-color: #194266;
  border-radius: 50%;
  -webkit-transition-property: none;
  transition-property: none;
}

.cards-image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  max-width: none;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.cards-image.question {
  -o-object-fit: contain;
  object-fit: contain;
}

.rich-text {
  max-width: 680px;
  color: #333;
  font-size: 18px;
  line-height: 28px;
  text-align: left;
}

.rich-text h1 {
  margin-bottom: 40px;
}

.rich-text p {
  margin-bottom: 25px;
}

.rich-text h3 {
  margin-top: 40px;
  margin-bottom: 10px;
}

.rich-text h2 {
  margin-bottom: 20px;
  font-size: 32px;
}

.how-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 12px;
}

.feature-section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.container {
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.feature-image-mask {
  width: 50%;
  margin-right: 40px;
}

.feature-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.hero-text {
  font-size: 18px;
  line-height: 28px;
}

.navigation {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 75px;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.nav-link {
  margin-top: 3px;
  margin-right: 15px;
  margin-left: 15px;
  padding: 10px 0px;
  border-style: none none solid;
  border-width: 0px 0px 2px;
  border-color: #000 #000 transparent;
  -webkit-transition: border 200ms ease, opacity 100ms ease;
  transition: border 200ms ease, opacity 100ms ease;
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 100%;
  font-weight: 500;
  cursor: pointer;
}

.nav-link:hover {
  border-bottom: 2px solid #3898ec;
}

.nav-link.w--current {
  border-bottom: 2px solid #3898ec;
  color: #020202;
}

.navigation-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.footer-link {
  font-size: 16px;
}

.footer-link.w--current {
  font-size: 18px;
}

.pill-container {
  margin-bottom: 20px;
}

.pill {
  display: inline-block;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: transparent;
  color: #fff;
  font-size: 14px;
  line-height: 1em;
  font-weight: 500;
}

.pill.pill-blue {
  background-color: #3998eb;
}

.pill.pill-grey {
  background-color: #6c7583;
}

.pill.pill-green {
  background-color: #28a745;
}

.pill.pill-yellow {
  background-color: #d39e00;
}

.pill.pill-transparent {
  color: transparent;
}

.lefthandnav {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  margin-left: 60px;
  border: 3px none #000;
  line-height: 200%;
}

.image-3 {
  display: block;
  max-width: 50%;
  margin-right: auto;
}

.how-header {
  margin-top: 40px;
}

.logo {
  border-bottom-width: 0px;
  opacity: 0.8;
  -webkit-transition: opacity 200ms ease, border-color 300ms ease, color 200ms ease;
  transition: opacity 200ms ease, border-color 300ms ease, color 200ms ease;
}

.logo:hover {
  opacity: 1;
}

.header-subheading {
  margin-bottom: 30px;
  color: #777;
  font-size: 22px;
  line-height: 28px;
  font-style: italic;
  font-weight: 400;
}

.div-block-6 {
  max-width: 460px;
}

.hero-container {
  display: -ms-grid;
  display: grid;
  width: 100%;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 60px;
  grid-row-gap: 16px;
  -ms-grid-columns: 2fr 1fr;
  grid-template-columns: 2fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.hero-list-item {
  margin-bottom: 5px;
}

.page-heading {
  font-size: 48px;
}

.small-container {
  max-width: 720px;
}

.html-embed {
  display: block;
}

.image-4 {
  position: relative;
  display: inline-block;
  max-width: 50%;
  float: right;
}

.div-block-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.heading {
  display: block;
  max-width: 80%;
}

.image-5 {
  display: block;
  max-width: 20%;
}

.offsetfix {
  height: 75px;
  margin-top: -75px;
}

.homepage-text {
  margin-bottom: 20px;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 30px;
  }
  .section.in-header {
    padding-top: 125px;
    padding-bottom: 50px;
  }
  .btn-primary {
    margin-top: 10px;
    padding-top: 9px;
    border-radius: 6px;
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  .cards-grid-container {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 40px;
  }
  .section {
    padding-right: 30px;
    padding-left: 30px;
  }
  .section.in-header {
    padding-top: 100px;
  }
  .section.profile-cards {
    margin-top: 50px;
  }
  .section.profile {
    padding-top: 100px;
  }
  .cards-grid-container {
    max-width: none;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    grid-row-gap: 60px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }
  .feature-section {
    padding: 40px 20px;
  }
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .feature-image-mask {
    margin-right: 0px;
  }
  .feature-image {
    margin-right: auto;
    margin-left: auto;
  }
  .navigation {
    padding-right: 30px;
  }
  .nav-link {
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
    text-align: right;
  }
  .nav-menu {
    position: absolute;
    padding: 30px 30px 15px;
    background-color: #fff;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
  }
  .menu-button {
    padding: 6px;
    font-size: 32px;
  }
  .menu-button.w--open {
    border-radius: 50px;
    background-color: #474747;
  }
  .page-heading {
    font-size: 32px;
  }
  .div-block-8 {
    margin-top: 50px;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 24px;
  }
  .hero-image {
    max-height: 20vh;
  }
  .cards-grid-container {
    margin-top: 30px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .feature-section {
    padding-top: 100px;
  }
  .navigation {
    padding-right: 20px;
    padding-left: 30px;
  }
  .nav-link {
    float: none;
    text-align: right;
  }
  .lefthandnav {
    display: none;
  }
  .logo {
    width: 75%;
    max-width: 250px;
    padding-left: 0px;
  }
  .header-subheading {
    font-size: 18px;
  }
  .hero-container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .div-block-8 {
    margin-top: 0px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .image-5 {
    max-width: 50%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  #w-node-8cdbc6cf14be-f4bae156 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-8cdbc6cf14c7-f4bae156 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-8cdbc6cf14d0-f4bae156 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-8cdbc6cf14d7-f4bae156 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row-align: start;
    align-self: start;
  }
  #w-node-cb20692a960d-6cbae167 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-cb20692a960f-6cbae167 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-cb20692a9614-6cbae167 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-cb20692a9616-6cbae167 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row-align: start;
    align-self: start;
  }
}

@media screen and (max-width: 479px) {
  #w-node-05bf3259a834-f4bae156 {
    -webkit-box-ordinal-group: -9998;
    -webkit-order: -9999;
    -ms-flex-order: -9999;
    order: -9999;
  }
  #w-node-8cdbc6cf14ab-f4bae156 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-8cdbc6cf14bb-f4bae156 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-8cdbc6cf14cd-f4bae156 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-cb20692a9603-6cbae167 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-cb20692a960a-6cbae167 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-cb20692a9611-6cbae167 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-8625ad67cb26-6cbae167 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
}

