:root {
  --dark-slate-blue: #194266;
  --dodger-blue: #3998eb;
  --black: #00000059;
}

body {
  color: #333;
  letter-spacing: -.01em;
  background-color: #f5f5f5;
  font-family: Inter, sans-serif;
  font-size: 18px;
  line-height: 145%;
}

h1 {
  letter-spacing: -.02em;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 60px;
  font-weight: 700;
  line-height: 120%;
}

h2 {
  letter-spacing: -.02em;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 500;
  line-height: 130%;
}

h3 {
  letter-spacing: -.02em;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

p {
  letter-spacing: -.02em;
  line-height: 150%;
}

a {
  color: var(--dark-slate-blue);
  border-bottom: 1px solid #19426685;
  font-weight: 500;
  text-decoration: none;
  transition: border-color .3s, color .2s;
}

a:hover {
  color: #000;
  border-bottom-color: #000;
}

a:visited {
  color: var(--dark-slate-blue);
}

a.w--current {
  color: #1f527f;
}

ul {
  margin-top: -15px;
  margin-bottom: 30px;
  padding-left: 40px;
}

li {
  margin-bottom: 10px;
}

strong {
  font-weight: bold;
}

blockquote {
  color: #111;
  border-left: 5px solid #e2e2e2;
  margin-bottom: 30px;
  margin-left: 30px;
  padding: 10px 20px;
  font-size: 22px;
  line-height: 140%;
}

figcaption {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 15px;
}

.section {
  align-items: center;
  padding: 50px 40px;
}

.section.in-header {
  padding-top: 150px;
}

.section.footer {
  border-top: 1px solid #0000001a;
  margin-top: 100px;
  display: none;
}

.section.profile-cards {
  margin-top: 100px;
}

.section.ho-to-plan {
  padding-top: 100px;
}

.section.profile {
  padding-top: 150px;
}

.section.about, .section.learn {
  padding-top: 100px;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  width: 260px;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.hero-list {
  margin-bottom: 20px;
}

.btn-primary {
  float: left;
  clear: left;
  color: #fdfeff;
  cursor: pointer;
  object-fit: fill;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  transition: opacity .2s;
  display: block;
  position: static;
}

.btn-primary:hover {
  color: #fdfdfd;
  box-shadow: 1px 1px 1px #5f5f5f;
}

.btn-primary:visited {
  color: #f8f8f8;
}

.div-block-3 {
  justify-content: flex-start;
  margin-top: 20px;
  padding-top: 0;
  display: block;
}

.rich-text-block {
  font-size: 16px;
  line-height: 1.6em;
}

.rich-text-block.interview-body {
  margin-top: 20px;
  display: inline-block;
}

.rich-text-block.interview-body li {
  padding-top: 2px;
  padding-bottom: 2px;
}

.footer-container {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-content: start;
  display: block;
}

.cards-grid-container {
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  text-align: left;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 50px;
  display: grid;
}

.cards-image-mask {
  border-bottom-style: none;
  border-bottom-color: var(--dark-slate-blue);
  border-radius: 50%;
  width: 100%;
  padding-top: 100%;
  transition-property: none;
  position: relative;
  overflow: hidden;
}

.cards-image {
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  max-width: none;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.cards-image.question {
  object-fit: contain;
}

.rich-text {
  color: #333;
  text-align: left;
  max-width: 680px;
  font-size: 18px;
  line-height: 28px;
}

.rich-text h1 {
  margin-bottom: 40px;
}

.rich-text p {
  margin-bottom: 25px;
}

.rich-text h3 {
  margin-top: 40px;
  margin-bottom: 10px;
}

.rich-text h2 {
  margin-bottom: 20px;
  font-size: 32px;
}

.how-container {
  border-radius: 12px;
  justify-content: space-between;
  display: flex;
}

.feature-section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.container {
  flex-direction: row;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
  display: block;
}

.feature-image-mask {
  width: 50%;
  margin-right: 40px;
}

.feature-image {
  object-fit: contain;
  object-position: 50% 50%;
  width: 100%;
  height: 100%;
}

.hero-text {
  font-size: 18px;
  line-height: 28px;
}

.navigation {
  cursor: pointer;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  position: fixed;
  inset: 0% 0% auto;
  box-shadow: 0 1px 5px #0000001f;
}

.nav-link {
  cursor: pointer;
  border: 0 #000;
  border-bottom: 2px solid #0000;
  margin-top: 3px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 10px 0;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  transition: border .2s, opacity .1s;
}

.nav-link:hover {
  border-bottom: 2px solid #3898ec;
}

.nav-link.w--current {
  color: #020202;
  border-bottom: 2px solid #3898ec;
}

.nav-link.community-page {
  display: none;
}

.navigation-container {
  flex: 0 auto;
  align-self: auto;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  line-height: 100%;
}

.footer-link {
  font-size: 16px;
}

.footer-link.w--current {
  font-size: 18px;
}

.pill-container {
  margin-bottom: 20px;
}

.pill {
  color: #fff;
  background-color: #0000;
  border-radius: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1em;
  display: inline-block;
}

.pill.pill-blue {
  background-color: #3998eb;
}

.pill.pill-grey {
  background-color: #6c7583;
}

.pill.pill-green {
  background-color: #28a745;
}

.pill.pill-yellow {
  background-color: #d39e00;
}

.pill.pill-transparent {
  color: #0000;
}

.lefthandnav {
  border: 3px #000;
  margin-left: 60px;
  line-height: 200%;
  position: sticky;
  top: 100px;
}

.image-3 {
  max-width: 50%;
  margin-right: auto;
  display: block;
}

.how-header {
  margin-top: 40px;
}

.logo {
  float: none;
  opacity: .8;
  border-bottom-width: 0;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: auto;
  margin-bottom: auto;
  transition: opacity .2s, border-color .3s, color .2s;
  display: inline-block;
  top: 13px;
  bottom: auto;
}

.logo:hover {
  opacity: 1;
}

.header-subheading {
  color: #777;
  margin-bottom: 30px;
  font-size: 22px;
  font-style: italic;
  font-weight: 400;
  line-height: 28px;
}

.div-block-6 {
  max-width: 460px;
}

.hero-container {
  grid-column-gap: 60px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 2fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
}

.hero-list-item {
  margin-bottom: 5px;
}

.page-heading {
  font-size: 48px;
}

.small-container {
  max-width: 720px;
}

.html-embed {
  display: block;
}

.image-4 {
  float: right;
  max-width: 50%;
  display: inline-block;
  position: relative;
}

.div-block-8 {
  display: flex;
}

.heading {
  max-width: 80%;
  display: block;
}

.image-5 {
  max-width: 20%;
  display: block;
}

.offsetfix {
  height: 75px;
  margin-top: -75px;
}

.homepage-text {
  margin-bottom: 20px;
}

.image-6 {
  float: none;
  display: inline-block;
  position: relative;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 30px;
  }

  .section.in-header {
    padding-top: 125px;
    padding-bottom: 50px;
  }

  .btn-primary {
    border-radius: 6px;
    margin-top: 10px;
    padding-top: 9px;
    transform: translate(0);
  }

  .cards-grid-container {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 40px;
  }

  .section {
    padding-left: 30px;
    padding-right: 30px;
  }

  .section.in-header {
    padding-top: 100px;
  }

  .section.profile-cards {
    margin-top: 50px;
  }

  .section.profile {
    padding-top: 100px;
  }

  .cards-grid-container {
    grid-row-gap: 60px;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    align-self: stretch;
    max-width: none;
  }

  .feature-section {
    padding: 40px 20px;
  }

  .container {
    flex-direction: column;
  }

  .feature-image-mask {
    margin-right: 0;
  }

  .feature-image {
    margin-left: auto;
    margin-right: auto;
  }

  .navigation {
    padding-right: 30px;
  }

  .nav-link {
    text-align: right;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0;
  }

  .nav-menu {
    background-color: #fff;
    padding: 30px 30px 15px;
    position: absolute;
    box-shadow: 0 3px 10px #0003;
  }

  .menu-button {
    padding: 6px;
    font-size: 32px;
  }

  .menu-button.w--open {
    background-color: #474747;
    border-radius: 50px;
  }

  .page-heading {
    font-size: 32px;
  }

  .div-block-8 {
    margin-top: 50px;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }

  .hero-image {
    max-height: 20vh;
  }

  .cards-grid-container {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }

  .feature-section {
    padding-top: 100px;
  }

  .navigation {
    padding-left: 30px;
    padding-right: 20px;
  }

  .nav-link {
    float: none;
    text-align: right;
  }

  .lefthandnav {
    display: none;
  }

  .logo {
    width: 75%;
    max-width: 250px;
    padding-left: 0;
  }

  .header-subheading {
    font-size: 18px;
  }

  .hero-container {
    grid-template-columns: 1fr;
  }

  .div-block-8 {
    flex-wrap: wrap;
    margin-top: 0;
  }

  .image-5 {
    flex: 0 auto;
    max-width: 50%;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_2ac75022-e470-24b9-7c3a-8cdbc6cf14d0-f4bae156 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_2ac75022-e470-24b9-7c3a-8cdbc6cf14d7-f4bae156 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    align-self: start;
  }

  #w-node-_8d2c7974-3f5b-f85d-2dfc-cb20692a9614-6cbae167 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_8d2c7974-3f5b-f85d-2dfc-cb20692a9616-6cbae167 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    align-self: start;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_929be035-99c2-0faf-8622-05bf3259a834-f4bae156 {
    order: -9999;
  }

  #w-node-_2ac75022-e470-24b9-7c3a-8cdbc6cf14ab-f4bae156, #w-node-_2ac75022-e470-24b9-7c3a-8cdbc6cf14cd-f4bae156, #w-node-_8d2c7974-3f5b-f85d-2dfc-cb20692a9603-6cbae167, #w-node-_8d2c7974-3f5b-f85d-2dfc-cb20692a9611-6cbae167 {
    grid-column: span 1 / span 1;
  }
}


